extends layout

block content
  h1.title= title
  p.title-para Welcome to #{title}
  .message-list
   for message in messages
    .message
     p.text=message.text
     p.user -#{message.user}
     p.date Date: #{message.added}
  a.link-button(href='/new') new
